#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID     "DEIN_WLAN"
#define WIFI_PASSWORD "DEIN_PASSWORT"

#define AGENT_IP_0 192
#define AGENT_IP_1 168
#define AGENT_IP_2 0
#define AGENT_IP_3 173
#define AGENT_PORT 8888

#endif
